{%extends 'base.html' %}
{% block 'titulo' %} {{livro.nome}} {% endblock %}
{% block 'conteudo' %}
<div class="container">
    <br>
    <form action="#" method="post">
        {% csrf_token %}
        <p>
            <label>Nome do livro:</label>
            <input class="form-control" value="{{livro.nome}}" type="text">
        </p>

        <p>
            <label>Nome do Autor:</label>
            <input style="width: 30%;" class="form-control" value="{{livro.autor}}" type="text">
        </p>

        <p>
            <label>Nome do Co-autor:</label>
            <input style="width: 30%;" class="form-control" value="{{livro.co_autor}}" type="text">
        </p>

        <p>
            <label>Data de cadastro no sistema:</label>
            <input style="width: 30%;" class="form-control" value="{{livro.data_cadastro}}" type="text">
        </p>

        <label>Categoria do livro:</label>
        <br>
        <select style="width: 30%;" class="form-control" name="categoria">
            {% for i in categoria_livro %}
            {% if livro.categoria == i %}
            <option selected>{{i}}</option>
            {% else %}
            <option>{{i}}</option>
            {% endif %}
            {% endfor %}
        </select>

        <br>
        <br>

        <label>Livro disponível: &nbsp &nbsp </label>
        {% if livro.emprestado %}

        <input style="transform: scale(1.5)" type="checkbox" name="Livro não disponível">

        {% else %}

        <input style="transform: scale(1.5);" checked type="checkbox" name="Livro disponível">

        {% endif %}

        <br>
        <br>

        <input type="submit" class="btn btn-success btn-lg" value="Salvar">
    </form>
    <hr>
    <h2 style="text-align: center;">Histórico de empréstimos</h2>

    <table class="table table-striped table-light">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data do empréstimo</th>
                <th scope="col">Data de devolução</th>
                <th scope="col">Tempo de duração</th>
            </tr>
        </thead>
        <tbody>
            {% for i in emprestimos %}
            <tr>
                {% if i.locatario_desconhecido == None %}
                 <th scope="row">{{i.locatario_registrado}}</th>
                {% else %}
                <th scope="row">{{i.locatario_desconhecido}}</th>
                {% endif %}
                <td>{{i.data_emprestimo}}</td>
                <td>{{i.data_devolucao}}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}